:host {
  position: absolute;
  width: 80%;
  min-height: 80%;
  margin-top: 4%;
  padding: 20px;
  border-radius: 48px;
  color: black;
  background-color: #f5f5f5;
  opacity: 0.92;
  display: none;
}

.heroi {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__sair {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }

    &:active {
      background-color: #bd2130;
    }
  }

  &__titulo {
    font-size: 24px;
    color: #333;
  }

  &__propriedades {
    margin: 20px 0;
  }

  &__propriedade {
    margin-bottom: 10px;
  }

  &__subtitulo {
    font-size: 20px;
    color: #666;
  }

  &__superpoderes {
    list-style-type: none;
    padding: 0;
  }

  &__superpoder {
    display: flex;
    flex-direction: row;
    justify-content: left;

    & p {
      margin-left: 10px;
    }
  }
}
